<style>
 
</style>


{% if sections.settings.menu.links == blank %}
{% assign main_menu_linklist = linklists[section.settings.menu].links %}
{% else %}
  {% assign main_menu_linklist = section.settings.menu.links %}  
{% endif %}
<div class="flex">
  <div class="flex-none w-14 h-14">
    01
  </div>
  <div class="flex-initial w-64 text-blue-600">
    02
  </div>
  <div class="flex-initial w-32 text-blue-600">
    03
  </div>
</div>

{% schema %} 
{ 
  "name": "Header",
   "settings": [ 
   {
     "type": "text",
     "id": "mobile_menu_title",
     "default": "Menu",
     "label": "Mobile Menu Title"
   },
   { 
      "type": "link_list", 
      "id": "menu", 
      "default": "main-menu",
      "label": "Heading Navigation Menu" 
    },
    {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      }
       
  ] 
} 

{% endschema %}
